/* Isaac Netti CSCE242 */

/* Structure */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #ECECEB;
}
h1{
    color: #E25822 ;
}
header{
    max-width: 90%;
    margin: auto;
}
#main-content-home div{
     justify-content: center;
     margin-top: 8%;
     margin-bottom: 5%;
}
/* Main Navigation */

#main-nav ul {
    text-align: center;
    margin: auto;
}
#main-nav li {
    list-style-type: none;
    margin: 0%  6% ;
}
  
#main-nav a {
    text-decoration: none;
    color: #ECECEB;
}
  
#main-nav li:hover {
    background-color: #10316B;
}
  
/* Larger Resolution */
@media only screen and (min-width: 768px) {
    #main-nav li {
        display: inline-block;
      }
      .flex-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    .col1of2 {
        display: flex;
    }
    #main-content-home h1{
        max-width: 20%;
        margin-right: 30%;
    }
    #main-content-home p{
        text-align: center;
        max-width: 80%;
        margin: auto;
    }
}