body{
    background: #00232a;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.assignment{
    display: inline-flex;
    text-align: center;
    padding: 10px;
    background: #00424d;
    margin: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 5px 10px #FFFABF;
}

.assignment img{
    width: 500px;
    height: 500px;
    border-radius: 5px;
}

a{
    text-decoration: none;
}
p{
    color:#FFFABF
}

h2{
    color: #FFFABF
}
h1 {
    color:#FFFABF;
    text-align:center;
}